<%- layout("layouts/boilerplate.ejs") %>
<div class="rew">
  <div class="col-8 offset-2">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <h5><%= err.statusCode %></h5>
      <hr />
      <p class="mb-0">
       
      </p>
    </div>
  </div>
</div>
