<footer class="footer bg-secondary py-3 mt-auto">
  <div class="container d-flex justify-content-between">
    <span class="text-white">
      <h6>&copy; Liubov Trudova <%= new Date().getFullYear()%></h6></span
    ><span class="text-dark">
      <a
        class="text-white"
        href="https://www.instagram.com/liubovtrudova/?hl=en"
      target="_blank">
        <i class="fa fa-instagram" style="font-size: 48px"></i></a
    ></span>
  </div>
  <div class="container">
    <p class="fw-lighter">
      For any question/comments/conserns/offers plese feel free to contact me
      through contact form or by email: liubovtrudovaapplying@gmail.com
    </p>
  </div>
</footer>
