<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/questions">QA_inIT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/" >Home</a>
        <a class="nav-link" href="/questions">Questions</a>
        <a class="nav-link" href="/questions/new">New Question</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser){ %> 
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% }else{ %> 
        <a class="nav-link" href="/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>
